@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    font-family: 'Rubik', sans-serif;
}
#scroll-top {
    display: none;
    opacity: 0 ;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0,0,0,.3);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    border-radius: 18px;
    text-align: center;
    z-index: 999;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all 0.7s;
}
#scroll-top > i {
    background-color: transparent !important;
}
#scroll-top:hover {
    background-color: rgba(11, 65, 212, 0.7);
}

 li.slick-active {
    background-color: rgb(100, 186, 226) !important;
    border-radius: 50%;
 }

 ::selection {
    background-color: rgb(201, 226, 101);
 }

section {
    margin-top: 3rem;
}
 
#partOne-left  strong {
    font-family: 'Rubik', sans-serif;
    color:#2D2D2D;
    font-size: 23px;
    line-height:32.2px;
    
}

#partOne-left  ul > li {
    font-family: 'Rubik', sans-serif;
    color:#37373D;
    font-size: 15px;
    line-height:27px;
}

#partOne-right {
    background-image: url('/public/home1.svg') !important;
}

#partTwo-right{
    margin-top: 1.5rem;
}

#partTwo-right  h3 {
    font-family: 'Rubik', sans-serif;
    color:#2D2D2D;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 18px !important;
    line-height:25.2px;
    font-weight: 500;
}

#partTwo-right  p {
    font-family: 'Rubik', sans-serif;
    color:#37373D;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 15px !important;
    line-height:27px;
    font-weight: 400;
}

#partTwo-right  h2 {
    font-family: 'Rubik', sans-serif;
    color:#2D2D2D;
    font-size: 20px !important;
    line-height:20px;
    font-weight: 500;
}

#partTwo-right ul span {
    font-family: 'Rubik', sans-serif;
    color:#37373D;
    font-size: 15px;
    line-height:27px;
    font-weight: 400;
    margin-top: 8px !important;
}
#partTwo-right ul i {
    margin-right: 10px;
    margin-left: 10px;

}

#content-carrer {
    padding:  80px 0px;
}

#container-aboutus{
    font-family: 'Rubik', sans-serif;
    width: 93% !important;
    margin: auto !important;
}

#container-aboutus h3 {
    font-size: 20px !important;
}

.container-quote{
    font-family: 'Rubik', sans-serif;
    width: 70% !important;
    margin: auto!important;
}

.container-quote input {
    width: 45%;
    height: 45px;
    box-shadow:  none !important;
    border-radius: 0 !important;
    border-color: #8B8B8B;  
    background-color: rgb(240, 240, 240); 
}

.container-quote textarea{
    box-shadow:  none !important;
    border-radius: 0 !important;
    border-color: #8B8B8B;
    background-color: rgb(240, 240, 240); 

}

.container-quote input:focus, textarea:focus{
    border-color:  #5e5e5e !important;
}

.container-quote label {
   font-size: 18px;
   line-height: 20px; 
   font-weight: 700;
}

.container-quote button {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

#quoter h3 {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 25.5px;
    color: #2D2D2D;
}

#quoter p {
    font-family: 'Rubik', sans-serif;
    color:  #37373D;
    font-size: 15px;
    line-height: 27px;
    margin-top: 20px !important;
}


@media (max-width:760px){
    .container-quote{
        width: 97%;
    }
    .container-quote input {
        width: 100%;
    }
#specs :first-child {
    padding: 0 !important;
    width: 100% !important;
}
#specs :last-child{
    width: 100% !important;
}
}

#Nav_bar {
    /* display: flex !important; */
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;   
    text-transform: uppercase;
    margin-top: 0;
}

#brand  {
    padding: 0 !important;
    font-family: 'Rubik', sans-serif;
    font-size: 40px ;
    color: rgb(9, 85, 22);
    font-weight: 800;
    line-height: 27px;
}

#image-brand {
    width: 80% !important;
    transition: all .4s;
    margin: 0 !important;
}

#image-brand:hover {
    opacity: .6 !important;
}

@media (max-width: 499px) {
    #brand  {
        width: 52%;
    }
    #toggle-button {
        
        font-size: 18px!important;
    }

    #image-brand {
        width: 100% !important;
        height: 40%;
    }
}

@media (max-width: 300px){
    #toggle-button {
        
        font-size: 14px!important;
    }

    .Nav {
        padding-right : 0px !important;
        
    }
}


@media (max-width: 182px){
    #toggle-button {
        
        font-size: 6px!important;
    }
    .Nav {
        font-size: 12px !important;
        /* font-weight: 900 !important; */
    }
}

.Nav {
    color: rgb(9, 85, 22) !important;
    font-family: 'Rubik', sans-serif;
    transition: all .4s ;
    font-size: 15px;
    line-height: 80px;
    letter-spacing: 1px;
    font-weight: 700 !important;
    padding-right : 20px !important;
    border: transparent 1px solid  !important;
}

.Nav:hover {
    /* opacity:.6!important; */
    color: #C9E265 !important;
}

.Nav:active{
    border: #C9E265 1px solid  !important;
}

#prd_p {
    font-family: Rubik , sans-serif;
    font-size: 15px;
    line-height:27px;
    font-weight: 400;
    color:  #37373D;
    margin-right: 30px !important;
}

#prd_image {
    width: 100% !important;
    height: 90% !important;
}

#icon{
    position: relative;
    top: -40px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(0, 0, 0,.9);
    width: 100%;
    padding: 4px;
    color: white;
    font-size: 18px;
    opacity: 0;
}

#content-prds {
    padding: 0 !important;
}

#connnte:hover  #icon {
    opacity: 1;
}

#prd_Link {
    font-family: Rubik , sans-serif;
    font-size: 14px;
    line-height:21px;
    font-weight: 500;
    text-align: center;
    transition: all .4s ;
    color: #2D2D2D;
    text-decoration: none;
    margin-top: 0 !important;
}

#prd_Link1{
    font-family: Rubik , sans-serif;
    font-size: 14px;
    line-height:21px;
    font-weight: 500;
    text-align: center;
    margin: auto;
    color: #2D2D2D;
    text-decoration: none;
}

#prd_Link:hover {
    color:  #1AACCB;
}


.modal {
    background-color: rgb(45, 45, 45 , .8) !important;
}

.modal-dialog {
    height: 90vh !important;
}
.modal-content{
    height: 100% !important;
}


.modal-body i:last-child {
    font-size: 24px;
    padding: 4px;
    position: absolute;
    top: 47%;
    right: 20%;
}

.modal-body i:first-child {
    font-size: 24px;
    padding: 4px;
    position: absolute;
    top: 47%;
    left: 20%;
}

@media (max-width : 455px){
    .modal-body i:last-child {
        font-size: 20px;
        padding: 4px;
        position: absolute;
        top: 47%;
        right: 10%;
    }
    
    .modal-body i:first-child {
        font-size: 20px;
        padding: 4px;
        position: absolute;
        top: 47%;
        left: 10%;
    }
    
}

#layout_image button {
    font-family: "Rubik" , sans-serif;
    font-size: 15px;
    margin-left:5% ;
    margin-right:5% ;
}

#image_out {
    width: 100% !important;
    height:300px  !important;
}

@media (max-width:440px){
    #image_out {
        width: 100% !important;
        height: 100% !important;
    }   
}

#grid_system{
    font-family: "Rubik" , sans-serif;
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
}
#grid_system i {
    margin-left: 7px;
    margin-right:  7px; 
    border: 1px solid transparent;
    padding: 5px;
    color: #5e5e5e;
}

#grid_system i.active {
    color: #1AACCB !important;
    border: 1px solid #1AACCB;
}
